body {
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
a:-webkit-any-link {
  text-decoration: none !important ;
  text-decoration-style: none !important;
}
li {
  text-align: unset;
}
body::-webkit-scrollbar{
  display: none;
}