.MidSection {
  display: flex;
  height: 400px;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  color: white;
  margin-top: -15px;
  border-top: 8px solid rgba(116, 116, 116, 0.384);
  font-size: 1.5rem;
}
.flexDirection {
  flex-direction: row-reverse !important;
}
.MS_s1 {
  display: inline-flex;
  flex-direction: column;
  max-width: 500px;
  align-self: center;

  justify-content: flex-start;
}
.MS_s2 {
  max-width: 500px;
}
.MS_s2_img {
  width: 450px;
  z-index: 3;
  object-fit: contain;
}
.MS_s2-video {
  width: 325px;
  right: -60px;
  bottom: 270px;
  position: relative;
  z-index: 1;
}
.MS_s2-diffvideo {
  width: 275px;
  right: -80px;
  bottom: 320px;
  position: relative;
  z-index: 1;
}
.MS_s2_diffimg {
  width: 450px;
  z-index: 3;
  object-fit: contain;
}
